.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    font-size: 26px;
}

.dialogsItems .active {
    color: red;
}

.messages {
    font-size: 26px;
    padding: 10px;
}